.#{$prefix}header {

}

.#{$prefix}header-l {

}

.#{$prefix}header-l-1 {
}

.#{$prefix}header-l-2 {

}

.#{$prefix}header-l-3 {

}

.#{$prefix}header-l-4 {

}

.#{$prefix}header-logo {
    font-family: Inter var,
        ui-sans-serif,
        system-ui,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        Segoe UI Symbol,
        "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11vh;
}